* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  /* color: red; */
}
input {
  padding: 0.34rem;
}
input[type="submit"],
button {
  font-size: 16.5px;
}
header {
  background-color: black;
  color: white;
  display: flex;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
  height: 90px;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1.03rem;
  margin-left: auto;
  border: 1px solid gray;
  padding: 0.5rem;
  margin-right: auto;
}
.logo {
  width: 100px;
  margin: 0;
}
input[type="submit"] {
  cursor: pointer;
  border: 2px solid black;
  font-weight: bold;
}
.logo img {
  width: 100%;
}
form div {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
