<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="logo">
         <img src="logo.png" alt="Logo Image">
        </div>
         <h2 style="margin: 0;">
 
         Socio App
         </h2>
      
     </header>
   
<form action="http://localhost:3001/login" method="post">
    <h2 style="text-align: center;text-decoration: underline;">

        User Login
    </h2> 

<div class="inner-fields">
    <label for="email">Enter Email</label>
    <input type="email" name="email" id="email" required>
</div><div class="inner-fields">
    <label for="password">Enter Password</label>
    <input type="password" name="password" id="password" required>
</div><div  style="display: flex; flex-direction: column;  ">
    <input type="submit" value="Login" style="border: none;border-radius: 20px;">
    <a href="/index.html" style=" border-radius: 20px; border: 1px solid white  ;color: white; font-weight: bold;  font-size: 16.3px; text-decoration: none; padding: 0.4rem; ">Register</a>
</div>
</form>
</body>
</html>
